@charset "utf-8";
/* CSS Document */
.single-tribe_events .tribe-events-event-meta {
    background: #fff none repeat scroll 0% 0%;
    border: 1px solid #BF1F24;
    margin: 30px 0px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
    margin: 20px 0px 10px;
    font-size: 1.4em;
    font-weight: 700;
	color: #BF1F24;
}
.single-tribe_events .tribe-events-event-meta {
    font-size: 16px;
}
.single-tribe_events h2.tribe-events-single-event-title {
    font-size: 1.7em;
    line-height: 1;
    margin: 0px;
    padding: 0px;
	color: #BF1F24;
}